// my custom styles

.container { overflow: hidden; } /* hide extra shadows */
.container > .inner {
    margin: 10px 30px; /* big enough to contain the shadow */
    overflow: hidden; /* be sure that nothing overflows from the inner */
}

.container > .inner {
    background-color: #FFF;
    box-shadow: 0px 0px 20px 10px rgba(0,0,0,.14); /* 10px to hide shadow divisions */
}

.container:first-child > .inner { margin-top: 30px; } /* big enough to contain the shadow */
.container:last-child > .inner { margin-bottom: 30px; } /* big enough to contain the shadow */

.container > .inner .content {
	margin: 30px 30px 30px 30px;
	margin-left: 30px;
}