{% extends "base.html" %}
{% block content %}
<hr>
<div id="content">
	{% for entry in entries.items %}
	<div>
		<h2>{{entry.title}}</h2>
		<p>
			Posted by: <span class="label label-info">{{entry.author.realname}}</span> on: {{entry.create_time}}
		<p>{{entry.text}}</p>
	</p>
	</div>
	{% endfor %}
	{% if entries.has_prev %}<a href="{{ url_for('entries', page = entries.prev_num) }}"> Newer posts</a>
	{% else %} Newer posts {% endif %} |
	{% if entries.has_next %}<a href="{{ url_for('entries', page = entries.next_num) }}"> Older posts</a>
	{% else %} Older posts {% endif %}
    <hr>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
		{% for message in messages %}
		<li>{{ message }}</li>
		{% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
</div>
{% endblock %}