{% extends "base.html" %}
{% block content %}
<hr>
<div id="content">
	{% for entry in entries %}
	<div>
		<h2>{{entry.title}}</h2>
		<p>
			Posted by: <span class="label label-info">{{entry.author.realname}}</span> on: {{entry.create_time}}
		<p>{{entry.text}}</p>
	</p>
	</div>
	{% endfor %}
    <hr>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
		{% for message in messages %}
		<li>{{ message }}</li>
		{% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
</div>
{% endblock %}