{% extends "base.html" %}
{% block content %}
<br>
<div class="content">
<h2>
	{{page_title}}
</h2>
<table class="table table-condensed">
	{% for row in tags %}
		<tr>
		{% for col in row %}
			<td style="border-top: none;">
				{{ col.name }}
				{% if admin == True %}
					<a href='{{ url_for('edit_tag', tagid = col.id) }}'><i class="icon-edit"></i></a>
					<a href='{{ url_for('delete_tag', tagid = col.id) }}'><i class="icon-trash"></i></a> 
				{% endif %}
			</td>
		{% endfor %}
		</tr>
	{% endfor %}
</table>
</div>
{% endblock %}